body {
    padding: 0;
    margin: 0;
}
.home {
    overflow-x: hidden;
}
* {
    outline: none;
}
.logo {
    width: 10em;
}
.logo-div {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #575969;
    padding: 0.5em;
    position: relative;
}
.btn_red {
    background-color: #bc0000;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 115%;
    border: none;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #ffffff;
    width: 167px;
    height: 56px;
    gap: 0.3em;
    justify-content: center;
    margin: 0 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
h1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #131428;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 0.5em;
    margin: 0 auto;
}
hr {
    opacity: 1;
    height: 0px;
    border-top: 1px solid #131428;
    width: 30em;
    margin: 2em auto;
}
.text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    /* or 36px */
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #131428;
    margin: 0 auto;
    padding: 1em;
    gap: 1em;
}
.bold-text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #131428;
    text-align: center;
}
.row {
    display: flex;
    justify-content: center;
}
.section {
    height: 100%;
    margin: 0 auto;
}
#section1{
  margin-top: 89px;
}
.padding {
    padding: 1em;
}
.buy-now {
    background: #f9f1e6;
    opacity: 0.5;
    border-radius: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    border: none;
    color: #f9f1e6;
    position: absolute;
    right: 1px;
    width: 196px;
    height: 40.26px;
}
.section-blue {
    background: #131428;
    display: flex;
    justify-content: center;
    .text,
    h1,
    .bold-text {
        color: #ffffff;
    }
    .text {
        font-size: 24px;
    }
    hr {
        opacity: 0.5;
        height: 0px;
        border-top: 1px solid #ffffff;
        width: 30em;
        margin: 2em auto;
    }
}
.puzzle {
    width: 375px;
    height: 100%;
    .top-img {
        margin-bottom: 0.37em;
    }
}
.left-img {
    margin-left: 0.5em;
}
    .right-img {
      height: 95%;
      width: 85%;
      display: flex;
      justify-content: center;

}
.btn_blue {
    border: none;
    width: 195px;
    height: 56px;
    background: #131428;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 115%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #ffffff;
    grid-gap: 0.3em;
}
h2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 110%;
    /* or 34px */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #131428;
}
.number {
    margin-top: 0.3em;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #131428;
}
li {
    text-align: left;
    padding: 0.3em;
}
.btn-submit {
    width: 90%;
    max-width: 300px;
}
ol,
ul {
    margin-top: 1.5em;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    flex-direction: column;
    display: flex;
    letter-spacing: 0.03em;
    color: #131428;
}
ul {
    list-style: none;
}
.logo-img {
    max-height: 308px;
    max-width: 300px;
    margin: 2em auto;
    width: 100%;
    // margin-bottom: 2.5em;
    // margin-top: 2em;
}
.right-list {
    display: flex;
    text-align: right !important;
    color: #ffffff;
    flex-direction: column;
    p,
    h2,
    li,
    ol {
        text-align: right;
        color: #ffffff;
    }
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    justify-content: center;
}
.mra-socials {
    width: 100%;
    max-width: 195px;
}
.socials {
    justify-content: start;
}
.polygone , .meta-img{
  width: 100%;
 }
 .img-wrapper{
  gap:.5em
}
.right-div{
 display: flex;
 justify-content: end;
}
.left-div{
  justify-content: start;
}
@media (max-width: 767.89px) {
  .watsup {
    width: 100%;
    max-width: 300px;
}
    .smatic{
        position: absolute;
        top: -65% !important;
        left: -27px !important;
        width: 6em !important;
        transform: translate(12px, -25px) !important;
    }
  .right-div ,.left-div{
    display: flex;
    justify-content: center !important;
   }
  .section{
    padding: 0.1em;
}
  .section-blue .text {
    font-size: 1em !important;
  }

    h1 {
        font-size: 1.5em;
    }
    .available-now,
    p,
    span,
    .bold-text,
    .text,
    .btn_red,
    .btn_blue,
    li,
    ol,
    ul,
    a {
        font-size: 1em;
    }
    h2,
    .number {
        font-size: 1.3em;
    }
    .section ,.section-blue {
        hr{
            width: 50%;
            margin:1em auto;
            }
    }

    .logvo-img {
        max-width: 50%;
        margin: 0 auto;
    }
    .btn_red,
    .btn_blue {
        height: 2.5em;
    }
    .socials {
        justify-content: center;
        gap: 1em;
    }
    .top-img {
        width: 100%;
        margin-bottom: 0.8em;
    }
    .center-img {
        width: 65%;
    }
    .left-img {
        width: 30%;
        margin-left:4% !important;
    }
    .logo-div {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .right-img{
        margin-bottom: 3em;
    }

}
.top-img {
    width: 100%;
}
.center-img {
    width: 65%;
}
.left-img {
    width: 30%;
    margin-left: 0.5em;
}

.available-now{
background: linear-gradient(0deg, #131428 0.04%, #575969 92.17%);
border: 1px solid #000000;
box-sizing: border-box;
width: 100%;
padding: 2em;
max-width: 526px;
hr{
  opacity: 0.5;
  height: 0px;
  border-top: 1px solid #ffffff;
  width: 24em;
  margin: 0em auto;
}
}
.available-on{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 110%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: center;
}
.link{
  border-radius: 7px;
  background-color: #FFFFFF;
}
.smatic{
    position: absolute;
    transform: translate(-32px, -135px);
    position: absolute;
    top: -2em;
    left: 1em;
    width: 5em;
}
