<div class="home">
  <app-header></app-header>
  <!-- <div class="row logo-div">
    <img class="logo" src="../../assets/logo.svg" />
    <button class="buy-now">BUY YOUR NFT (coming soon)</button>
  </div> -->
  <section class="section" id="section1">
    <div class="">
      <h1 class="col-lg-7 col-md-10 d-flex justify-content-center text-center"> Metaverse Rifle Association</h1>
      <hr />
      <div class="text col-lg-7 col-md-12">
        <p>
          The MRA - Metaverse Rifle Association aims to defend the right of
          every user of the Metaverse to protect themselves from aggression in
          this new world without rules or laws.
        </p>
        <p>
          By joining the MRA, you become part of a lobby for the promotion of
          the fundamental right of every user to be able to defend themselves
          against aggression.
        </p>
      </div>

      <div class="row">
        <span class="bold-text padding"> Protect Yourself, Join MRA </span>
      </div>
      <div class="row padding">
        <button class="btn_red">
          <a href="#section2" >
          Join Now <img src="../../assets/continue-arrow.png" />
         </a>
        </button>
      </div>
    </div>
  </section>
  <section class="section section-blue" id="section2">
    <div class="col-10">
      <h1>WHY join MRA?</h1>
      <hr />
      <div class="text col-9">
        <p>
          Your access to the MRA will allow you to vote, to take part in the
          legislation of weapons in the Metaverse and to benefit from a
          whitelist for each official Metaverse compatible weapon production.
        </p>
      </div>
      <div class="row padding">
        <div class="col-md-7 col-sm-12 right-div">
          <img src="../../assets/MRA.png" class="right-img" />
        </div>

        <div class="col-md-4 col-sm-12 left-div">
          <img src="../../assets/puzzle.png" class="right-img" />
        </div>
      </div>
      <div class="row padding">
        <button class="btn_red">
          <a href="#section3" >
          Join Now <img src="../../assets/continue-arrow.png" />
        </a>
        </button>
      </div>
      <div class="row">
        <span class="bold-text padding">
          Get Your MRA NFT, Be a MRA Genesis Member
        </span>
      </div>
    </div>
  </section>

  <section class="section col-10" id="section3">
    <h1>How to join MRA?</h1>
    <hr />
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <p class="number">999</p>
        <h2>NFT GIVEAWAY</h2>
        <div class="">
          <ol>
            <li>Follow us on every social media</li>
            <li>Submit the form</li>
            <li>First come, first served</li>
          </ol>
        </div>

        <div class="row padding socials">
          <button class="btn_red mra-socials col-4">
            <a
              href=" https://linktr.ee/metaverserifleassociation"
              target="_blank"
            >
              MRA SOCIALS
            </a>
            <img src="../../assets/continue-arrow.png" />
          </button>
          <button class="btn_blue col-4">
            <a href="https://linktr.ee/mwf.io" target="_blank"> MWF SOCIALS </a>
            <img src="../../assets/continue-arrow.png" />
          </button>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 d-flex justify-content-center flex-column">
        <img class="logo-img" src="../../assets/logo-en-blanc.png" />
        <div class="row padding">
          <button class="btn_red btn-submit">
            <a
              href="https://ojmkls2kg6u.typeform.com/to/jUaxiIve"
              target="_blank"
            >
              Submit Registration
            </a>
            <img src="../../assets/continue-arrow.png" />
          </button>
        </div>
      </div>
      <div class="row">
        <span class="bold-text padding">
          Two ways to become a Genesis member
        </span>
      </div>
    </div>
  </section>

  <section class="section section-blue" id="section4">
    <div class="col-10">
      <h1>Don't want to wait?</h1>
      <hr />
      <div class="row">
        <div
          class="col-md-4 col-sm-12 d-flex justify-content-center flex-column"
        >
          <img class="logo-img" src="../../assets/logo-en-blue.png" />
          <div class="row padding">
            <button class="btn_red btn-submit"  (click)="getAccount()" *ngIf="!walletConnected">
              Connect Wallet <img src="../../assets/continue-arrow.png" />
            </button>
            <button class="btn_red btn-submit" (click)="mintEtherieum()" *ngIf="walletConnected">
              Mint Now <img src="../../assets/continue-arrow.png" />
            </button>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 right-list ">
        <div class="row ">
           <!-- <div class="col-6">
                <img src="../../assets/smatic.svg" class="">
            </div>-->

                    <p class="number">9,000</p>
                    <h2>Available Now</h2>



       </div>
          <div class="d-flex justify-content-end">
            <ul class="">
              <li>1. Connect your wallet</li>
              <li>2. Switch to Polygon Matic Network</li>
              <li>3. Buy your MRA Genesis NFT</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <span class="bold-text padding">
            Don’t miss the unique opportunity
          </span>
        </div>
      </div>
      s
    </div>
  </section>
  <section class="section col-10" id="section5">
    <h1>JOIN THE OFFICIAL METAVERSE Rifle ASSOCIaTION</h1>
    <hr />
    <div class="row padding img-wrapper d-flex justify-content-center">
      <div class="col-lg-5 col-md-12 col-sm-12 d-flex justify-content-center">
        <a href=" https://linktr.ee/mwf.io" target="_blank">
          <img src="../../assets/polygone.png" class="polygone" />
        </a>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 d-flex justify-content-center">

        <div class="row padding img-wrapper d-flex justify-content-center available-now">
        <span class="available-on"> Available on </span>
        <hr>
        <a href=" https://polygon.technology/"  target="_blank" class="col-5 link">
          <img src="../../assets/open-sea-logo.svg" class="meta-img" />
        </a>
        <a href=" https://opensea.io/"  target="_blank" class="col-5 link">
          <img src="../../assets/SaTT-Matic.svg" class="meta-img" />
        </a>
        </div>

      </div>
    </div>
    <div class="row padding">
      <a href="https://linktr.ee/metaverserifleassociation" target="_blank">
        <img src="../../assets/watsup.png" class="watsup" />
      </a>
    </div>
  </section>
  <app-footer></app-footer>
</div>
