<div class="footer position-relative">
<img src="../../assets/Logo_blue.svg" class="logo" >
<span class="copyright">  Copyright © 2022, All rights reserved </span>

<div class="icon-wrapper">
  <a href="https://www.facebook.com/Metaverse-Rifle-Association-103797272293432"  target="_blank" class="col-5 link">
    <img src="../../assets/facebook.png" >
  </a>
  <a href="https://www.instagram.com/metaverserifle/"  target="_blank" class="col-5 link">
    <img src="../../assets/instagram.png" >
  </a>
  <a href="https://twitter.com/MetaverseRifle"  target="_blank" class="col-5 link" >
    <img src="../../assets/twitter.png" class="link-img">
  </a>
 <a href="https://www.youtube.com/channel/UCa2YJRUsACo7mbFFleX8F1g"  target="_blank" class="col-5 link"> <img src="../../assets/youtube.svg" class="link-img-you"> </a>

</div>

</div>
