
.footer {
   height: 100px;
   background-color:#131428;
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
  }
  .logo {
    width: 10em;
    margin: 0 auto;
}
.copyright{
    margin-top: .5em;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}
.icon-wrapper {
  right: 1em;
  position: absolute;
}
.link{
  padding: .5em;
}
@media (max-width: 767.89px) {
  .icon-wrapper {
    position: relative;
    right: 0;
    text-align: center;
  }
  .footer {
    height: 150px;
  }
  .copyright{margin-bottom: .5em;}
}
.link-img{
  width: 20px;
}
.link-img-you{
  width: 25px;
}

