.header {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
  border-bottom: 1px solid #575969;
 }
 :host{
  position: fixed;
  width: 100%;
  z-index: 1;
 }
 .icon-wrapper {
  right: 1em;
  position: absolute;
  padding:.5em;
}
.link{
  padding: .5em;
}
.width{
  width: 25px;
}
.widthFb{
  width: 12px;
}
@media (max-width: 767.89px) {
  .header{
    height: 120px;
  }
  .icon-wrapper {
    position: relative;
    right: 0;
    text-align: center;
  }
  .footer {
    height: 150px;
  }
  .logo-div {
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.buy-now {position:relative !important}
}
.link-img{
  width: 20px;
}
.link-img-you{
  width: 25px;
}
// .buy-now {
//   background: #f9f1e6;
//   opacity: 0.5;
//   border-radius: 5px;
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 18px;
//   text-align: center;
//   border: none;
//   color: #f9f1e6;
//   position: absolute;
//   right: 1px;
//   width: 196px;
//   height: 40.26px;
// }
.logo {
  width: 10em;
}
.logo-div {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  position: relative;
}
.filter{
  filter: brightness(0.3);
}
