<div class="header  position-relative">
  <div class="row logo-div">
    <img class="logo" src="../../assets/logo.svg" />
    <!-- <button class="buy-now">BUY YOUR NFT (coming soon)</button> -->
  </div>
  <div class="icon-wrapper">
    <a href="https://www.facebook.com/Metaverse-Rifle-Association-103797272293432" target="_blank" class="col-5 link">
      <img src="../../assets/white-icon-facebook.svg" class="filter widthFb">
    </a>
    <a href="https://www.instagram.com/metaverserifle/" target="_blank" class="col-5 link">
      <img src="../../assets/white-icon-instagram.svg" class="filter width">
    </a>
    <a href="https://twitter.com/MetaverseRifle" target="_blank" class="col-5 link">
      <img src="../../assets/white-icon-twitter.svg" class=" filter width">
    </a>
    <a href="https://www.youtube.com/channel/UCa2YJRUsACo7mbFFleX8F1g" target="_blank" class="col-5 link"> <img
        src="../../assets/white-icon-youtube.svg" class="filter width"> </a>
  </div>
</div>
